.DS_Store
.DS_Store?
._*
.*.sw[op]
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
libraries/
_DelSyncFiles/
.com.greenworldsoft.syncfolderspro
config.ini
.gitignore
.gitattributes
l_schen/
.syncfolderspro
.DS_Store
Motorsteuerung ARM32/.DS_Store
